/* skills.css */

.skills-container{
    display: flex;
    justify-content: center;
    gap: 20px;

    flex-wrap: wrap;
}

.skill-card{
    padding: 20px 35px;

    background-color: #1e293b;

    border-radius: 15px;

    transition: 0.3s;
}

.skill-card:hover{
    background-color: #38bdf8;

    transform: scale(1.05);
}